<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Car Rental in Mumbai | ShareDrive - Affordable & Reliable Car Rentals</title>
  <meta name="description"
    content="Looking for affordable and reliable car rentals in Mumbai? ShareDrive offers self-drive and rental cars with options for both driver and self-drive car rental. Book now!">
  <meta name="keywords"
    content="car rental, Mumbai car rental service, car rental Mumbai, self drive car rental Mumbai, car on rent, car rentals in Mumbai, rental cars, car for rent, self drive cars Mumbai, rental cars for rent">
  <meta name="robots" content="index, follow">
  <link rel="icon" href="/images/favicon.png">
  <!-- Add any other required meta tags for Open Graph or Twitter cards -->
  <meta property="og:title" content="Car Rental in Mumbai | ShareDrive - Affordable & Reliable Car Rentals">
  <meta property="og:description"
    content="Find the best self-drive car rental options in Mumbai with ShareDrive. Affordable, well-maintained vehicles for your travel needs. Book now!">
  <meta property="og:image" content="URL_to_image_for_preview">
  <meta property="og:url" content="https://www.shareDrive.com">
  <meta name="twitter:card" content="/images/favicon.png">
  <meta name="twitter:title" content="Car Rental in Mumbai | ShareDrive - Affordable & Reliable Car Rentals">
  <meta name="twitter:description"
    content="Looking for affordable and reliable car rentals in Mumbai? ShareDrive offers self-drive and rental cars with options for both driver and self-drive car rental. Book now!">
  <meta name="twitter:image" content="/images/favicon.png">
  <link rel="icon" href="/images/favicon.png">

  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
</head>

<body>
  <style>
    * {
      scroll-behavior: smooth;
    }

    .container {
      max-width: 1280px;
      margin: auto;
    }
  </style>
  <div class="max-w-screen-xl mx-auto">
    <div>
      <nav
        class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-400 dark:border-gray-600"
        style="z-index: 50;">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
          <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="/images/logo.png" class="h-8" alt="ShareDrive">
            <span class="self-center text-2xl whitespace-nowrap dark:text-white" style="font-weight: 900;">SHARE <span
                style="color: #1a56db;">DRIVE</span></span>
          </a>
          <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <button data-collapse-toggle="navbar-sticky" type="button"
              class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
              aria-controls="navbar-sticky" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 1h15M1 7h15M1 13h15" />
              </svg>
            </button>
          </div>
          <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
            <ul
              class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
              <li>
                <a href="/"
                  class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
                  aria-current="page">Home</a>
              </li>
              <li>
                <a href="/about"
                  class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
              </li>
              <li>
                <a href="/car"
                  class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Cars</a>
              </li>
              <li>
                <a href="/contact-us"
                  class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact
                  Us</a>
              </li>
              <% if(profile){ %>
                <li>
                  <a href="/profile/<%= profile %>"
                    class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Profile</a>
                </li>
                <% }else{ %>
                  <li>
                    <a href="/login"
                      class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Login</a>
                  </li>
                  <% } %>
            </ul>
          </div>
        </div>
      </nav>
    </div>


    <!-- carousel -->
    <div id="default-carousel" style="margin-top: 70px;" class="relative w-full" data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative overflow-hidden rounded-lg" style="aspect-ratio: 16/7;">
        <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="/images/banner/banner.png" class="object-cover w-full h-full" alt="banner 1">
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="/images/banner/banner 2ND.png" class="object-cover w-full h-full" alt="banner 2">
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="/images/banner/banner 3RD.png" class="object-cover w-full h-full" alt="banner 3">
        </div>
      </div>
      <!-- Slider indicators -->
      <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
          data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
          data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
          data-carousel-slide-to="2"></button>
      </div>
      <!-- Slider controls -->
      <button type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev>
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5 1 1 5l4 4" />
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next>
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 9 4-4-4-4" />
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>
    <!-- quick intro -->
    <div class="p-2 pb-1" style="margin-bottom: 5rem;">
      <h1
        class="mb-4 text-4xl font-extrabold leading-none text-blue-800 tracking-tight  md:text-5xl lg:text-6xl text-center mt-4">
        Affordable Car Rental Services in Mumbai
      </h1>
      <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 ">Welcome to
        Sharedrive, your trusted partner for affordable and reliable car rental in Mumbai. Whether you're searching for
        a self-drive car rental in Mumbai or a car rental with a driver, we offer flexible and convenient solutions
        tailored to your needs.</p>
    </div>
    <!-- cars demo -->
    <div class="px-2" style="margin-bottom: 5rem;">
      <h1
        class="text-center mt-4 mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        Discover Amazing <mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-500">Cars</mark></h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <% cars.forEach((car)=>{ %>
          <div class="car-card seaters-<%= car.seats %>" data-price="<%= car.pricePerDay %>">
            <div style="margin: auto;"
              class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
              <a href="#">
                <img class="rounded-t-lg h-48 w-full object-cover" src="<%= car.thumbnail %>" alt="<%= car.name %>" />
              </a>
              <div class="p-5">
                <a href="#">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <%= car.name %>
                  </h5>
                </a>
                <div class="flex items-center justify-between">
                  <span class="text-2xl font-semibold text-gray-900 dark:text-white">₹<%= car.pricePerDay %></span>
                  <span class="text-2xl font-semibold text-gray-900 dark:text-white">
                    <%= car.seats %> Seater
                  </span>
                </div>
                <div class="flex mt-3">
                  <a href="/car/request/<%= car._id %>"
                    class="flex-1 px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">Book
                    Now</a>
                  <a href="/car/details/<%= car._id %>"
                    class="flex-1 text-center py-2 px-4 ms-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100">Details</a>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
      <div style="margin-top: 15px;display: flex; justify-content: center;">
        <a href="/car"  type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">More
          Cars
        </a>
      </div>
    </div>
  </div>
  <!-- how to rent car -->
  <div class="px-6 px-2" style="margin: auto;">
    <h1 class="text-5xl text-center font-extrabold dark:text-white mb-4"><small
        class="ms-2 font-semibold text-blue-500 dark:text-gray-400"></small>How to rent Car</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2">
      <div>
        <ol class="relative text-gray-500 border-s border-blue-600 dark:border-gray-700 dark:text-gray-400">
          <li class="mb-10 ms-6">
            <span
              class="absolute flex items-center justify-center w-8 h-8 bg-blue-700 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-green-900">
              <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="16" height="16" fill="currentColor"
                class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
              </svg>
            </span>
            <h3 class="font-medium leading-tigh text-gray-800" style="font-size: 25px;">Create an Account or Log In
            </h3>
            <p class="text-sm">
            <ul class="max-w-xl space-y-1 text-gray-400 list-disc list-inside dark:text-gray-400">
              <li>Create new account if you don't have</li>
              <div class="inline-flex items-center justify-center w-full">
                <hr class="w-64 h-px my-2 b g-gray-400 border-0 bg-blue-300">
              </div>
              <li>Login in your existing account if you already have</li>
            </ul>
            </p>
          </li>
          <li class="mb-10 ms-6">
            <span
              class="absolute flex items-center justify-center w-8 h-8 bg-blue-700 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-car-front-fill"
                viewBox="0 0 16 16">
                <path
                  d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2m10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17s3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z" />
              </svg>
            </span>
            <h3 class="font-medium leading-tight text-gray-800" style="font-size: 25px;">Browse Available Cars</h3>
            <ul class="max-w-xl space-y-1 text-gray-400 list-disc list-inside dark:text-gray-400">
              <li>Navigate to the Cars section or use the search bar to find a specific car.</li>
              <li>Explore the list of available cars, including their features, pricing, and availability.</li>
            </ul>
          </li>
          <li class="mb-10 ms-6">
            <span
              class="absolute flex items-center justify-center w-8 h-8 bg-blue-700 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-cart-plus"
                viewBox="0 0 16 16">
                <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z" />
                <path
                  d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
              </svg>
            </span>
            <h3 class="font-medium leading-tight text-gray-800" style="font-size: 25px;">Click on "Request Now"</h3>
            <ul class="max-w-xl space-y-1 text-gray-400 list-disc list-inside dark:text-gray-400">
              <li>Once satisfied with the car details, click the Book Now button</li>
            </ul>
          </li>
          <li class="ms-6">
            <span
              class="absolute flex items-center justify-center w-8 h-8 bg-blue-700 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-telephone-plus"
                viewBox="0 0 16 16">
                <path
                  d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                <path fill-rule="evenodd"
                  d="M12.5 1a.5.5 0 0 1 .5.5V3h1.5a.5.5 0 0 1 0 1H13v1.5a.5.5 0 0 1-1 0V4h-1.5a.5.5 0 0 1 0-1H12V1.5a.5.5 0 0 1 .5-.5" />
              </svg>
            </span>
            <h3 class="font-medium leading-tight text-gray-800" style="font-size: 25px;">Wait for Confirmation</h3>
            <ul class="max-w-xl space-y-1 text-gray-400 list-disc list-inside dark:text-gray-400">
              <li>A confirmation message will be displayed, indicating that your request has been submitted</li>
              <li>Our team will review your booking and connect with you shortly for further assistance and
                confirmation
              </li>
            </ul>
          </li>
        </ol>
      </div>
      <div style="display: flex; align-items: center;">
        <img src="/images/cars/Kia.png" alt="Kia">
      </div>
    </div>
  </div>
  <div style="height: 80px; padding: 50px;" id="services"></div>
  <!-- services -->
  <div class="px-2">
    <h1 class="text-5xl font-bold mt-6 mb-3 text-center text-blue-800">Services</h1>
    <div
      class="grid mb-8 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-2 bg-white dark:bg-gray-800">
      <figure
        class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
          <div class="rounded-full w-20 h-20 flex justify-center align-center p-3 bg-blue-700">
            <img src="/images/route.png" alt="route">
          </div>
        </blockquote>
        <figcaption>
          <h1 class="text-2xl font-bold">Door Step Delivery Available</h1>
          <p>
            Get your vehicle delivered right to your doorstep, saving time and ensuring a hassle-free experience.
          </p>
        </figcaption>
      </figure>
      <figure
        class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
          <div class="rounded-full w-20 h-20 flex justify-center align-center p-4 bg-blue-700">
            <img src="/images/google-docs.png" alt="docs">
          </div>
        </blockquote>
        <figcaption>
          <h1 class="text-2xl font-bold">Easy Documentation</h1>
          <p>
            Simple, quick, and minimal paperwork process for seamless and stress-free vehicle rentals or purchases.
          </p>
        </figcaption>
      </figure>
      <figure
        class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
          <div class="rounded-full w-20 h-20 flex justify-center align-center p-3 bg-blue-700">
            <img src="/images/car-services.png" alt="service">
          </div>
        </blockquote>
        <figcaption>
          <h1 class="text-2xl font-bold">Well-Maintained Vehicles</h1>
          <p>
            Enjoy clean, regularly serviced vehicles ensuring comfort, safety, and reliability for every journey.
          </p>
        </figcaption>
      </figure>
      <figure
        class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
          <div class="rounded-full w-20 h-20 flex justify-center align-center p-3 bg-blue-700">
            <img src="/images/infinite-mathematical-symbol.png" alt="infinite">
          </div>
        </blockquote>
        <figcaption>
          <h1 class="text-2xl font-bold">Unlimited km</h1>
          <p>
            Drive without restrictions on distance, offering freedom and flexibility for your travels without extra
            charges.
          </p>
        </figcaption>
      </figure>
    </div>
  </div>
  <!-- Why choose us -->
  <div class="pt-6 px-2" style="margin-bottom: 5rem;">
    <h1 style="margin-top: 5rem;"
      class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
      Why Choose <span
        class="underline underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-600">SHAREDRIVE</span>
      for Your Car Rental Needs?</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2">
      <div style="display: flex; align-items: center">
        <img style="width: 100%" src="/images/cars/Punch.png" alt="punch" style="background-color: red;">
      </div>
      <div>
        <dl class="max-w-xl text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
          <div class="flex flex-col pb-3">
            <dd class="text-lg font-semibold">Variety of Rental Options</dd>
            <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">
              Choose from a diverse fleet that includes compact cars, sedans, and SUVs.
              Whether you’re looking for self-drive cars in Mumbai or a car rental with a driver, Sharedrive has you
              covered.
            </dt>
          </div>
          <div class="flex flex-col pb-3">
            <dd class="text-lg font-semibold">Affordable Prices</dd>
            <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">
              We offer competitive and transparent pricing on all our rentals, ensuring you get the best value.
              Whether
              you're booking a self-drive car for rent in Mumbai or a car with a driver, you’ll find budget-friendly
              rates
              every time.
            </dt>
          </div>
          <div class="flex flex-col pb-3">
            <dd class="text-lg font-semibold">Convenient Locations</dd>
            <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">
              With rental hubs strategically located across the city, finding a car rental near you is easy. Whether
              you’re at the airport, in the city center, or near your home, we’re just around the corner.
            </dt>
          </div>
          <div class="flex flex-col pb-3">
            <dd class="text-lg font-semibold">Flexible Rental Periods</dd>
            <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">
              Rent a car for a few hours or several days with our flexible plans. From quick errands to long-distance
              journeys, Sharedrive makes it easy to find the right car for your needs.
            </dt>
          </div>
          <div class="flex flex-col pb-3">
            <dd class="text-lg font-semibold">Reliable Service</dd>
            <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">
              Our vehicles are regularly serviced and well-maintained, ensuring a safe and comfortable experience for
              every customer.
            </dt>
          </div>
          <div class="flex flex-col pb-3">
            <dd class="text-lg font-semibold">24/7 Support</dd>
            <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">
              Our dedicated team is available around the clock to provide assistance whenever you need it.
            </dt>
          </div>
        </dl>
      </div>
    </div>
  </div>
  <!-- Mumbai Car Rental Options -->
  <div class="pt-6 px-2">
    <h1 class="text-5xl font-extrabold text-blue-700 text-center mb-4">Mumbai Car Rental Options</h1>
    <dl class="max-w-xl text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
      <div class="flex flex-col pb-3">
        <dd class="text-lg font-semibold text-blue-700">Self-Drive Car Rentals</dd>
        <dt class="mb-1 text-blue-500 md:text-lg dark:text-gray-400">
          Enjoy the freedom to explore at your own pace with our affordable self-drive car rental services in Mumbai.
        </dt>
      </div>
      <div class="flex flex-col pb-3">
        <dd class="text-lg font-semibold text-blue-700">Car Rental with Driver</dd>
        <dt class="mb-1 text-blue-500 md:text-lg dark:text-gray-400">
          Prefer a stress-free ride? Opt for a car rental with a driver in Mumbai for ultimate convenience.
        </dt>
      </div>
      <div class="flex flex-col pb-3">
        <dd class="text-lg font-semibold text-blue-700">Short-Term and Long-Term Rentals</dd>
        <dt class="mb-1 text-blue-500 md:text-lg dark:text-gray-400">
          Whether it’s a day trip or an extended stay, we offer customizable rental plans to suit your schedule.
        </dt>
      </div>
    </dl>
  </div>
  <!-- FAQ -->
  <div class="pt-6 px-2">
    <h1
      class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
      Frequently asked question</h1>
    <div class="p-4 bg-white rounded-lg dark:bg-gray-800" id="faq" role="tabpanel" aria-labelledby="faq-tab">
      <div id="accordion-flush" data-accordion="collapse"
        data-active-classes="bg-white dark:bg-gray-800 text-gray-900 dark:text-white"
        data-inactive-classes="text-gray-500 dark:text-gray-400">
        <h2 id="accordion-flush-heading-1">
          <button type="button"
            class="flex items-center justify-between w-full py-5 font-medium text-left rtl:text-right text-gray-700 border-b border-blue-200"
            data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">
            <span>What types of cars are available for rent in Mumbai?</span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 5 5 1 1 5" />
            </svg>
          </button>
        </h2>
        <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
          <div class="py-5 border-b border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">At Sharedrive, we offer a wide range of vehicles,
              including compact cars, sedans, and SUVs. Whether you’re looking for a self-drive car rental in Mumbai
              or a car with a driver, we have options to suit your needs.</p>

          </div>
        </div>
        <h2 id="accordion-flush-heading-2">
          <button type="button"
            class="flex items-center justify-between w-full py-5 font-medium text-left rtl:text-right text-gray-800 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
            data-accordion-target="#accordion-flush-body-2" aria-expanded="false"
            aria-controls="accordion-flush-body-2">
            <span>Can I rent a car in Mumbai for self-drive?
            </span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 5 5 1 1 5" />
            </svg>
          </button>
        </h2>
        <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
          <div class="py-5 border-b border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">Yes! We provide affordable and convenient self-drive car
              rental services in Mumbai. Explore the city or go on a road trip with the freedom and flexibility of
              driving yourself.</p>
          </div>
        </div>
        <h2 id="accordion-flush-heading-3">
          <button type="button"
            class="flex items-center justify-between w-full py-5 font-medium text-left rtl:text-right text-gray-800 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
            data-accordion-target="#accordion-flush-body-3" aria-expanded="false"
            aria-controls="accordion-flush-body-3">
            <span>Are there cars available for rent with a driver?
            </span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 5 5 1 1 5" />
            </svg>
          </button>
        </h2>
        <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-2">
          <div class="py-5 border-b border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">Absolutely! If you prefer not to drive, we offer car
              rental services in Mumbai with a driver for a hassle-free experience.</p>
          </div>
        </div>
        <h2 id="accordion-flush-heading-4">
          <button type="button"
            class="flex items-center justify-between w-full py-5 font-medium text-left rtl:text-right text-gray-800 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
            data-accordion-target="#accordion-flush-body-4" aria-expanded="false"
            aria-controls="accordion-flush-body-4">
            <span>How do I book a car rental near me?
            </span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 5 5 1 1 5" />
            </svg>
          </button>
        </h2>
        <div id="accordion-flush-body-4" class="hidden" aria-labelledby="accordion-flush-heading-2">
          <div class="py-5 border-b border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">Booking is easy with Sharedrive. Simply visit our
              website, browse our fleet, choose your preferred vehicle, and complete the booking process. We have
              rental hubs across Mumbai to ensure convenience.
            </p>
          </div>
        </div>
        <h2 id="accordion-flush-heading-5">
          <button type="button"
            class="flex items-center justify-between w-full py-5 font-medium text-left rtl:text-right text-gray-800 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
            data-accordion-target="#accordion-flush-body-5" aria-expanded="false"
            aria-controls="accordion-flush-body-5">
            <span>What are the rental options for car rentals in Mumbai?
            </span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 5 5 1 1 5" />
            </svg>
          </button>
        </h2>
        <div id="accordion-flush-body-5" class="hidden" aria-labelledby="accordion-flush-heading-2">
          <div class="py-5 border-b border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">We offer flexible rental plans, including hourly, daily,
              and long-term rentals. Whether you need a car for a quick trip or an extended journey, we have options
              tailored to your schedule.
            </p>
          </div>
        </div>
        <h2 id="accordion-flush-heading-6">
          <button type="button"
            class="flex items-center justify-between w-full py-5 font-medium text-left rtl:text-right text-gray-800 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
            data-accordion-target="#accordion-flush-body-6" aria-expanded="false"
            aria-controls="accordion-flush-body-6">
            <span>Is there a minimum age requirement for renting a car in Mumbai?
            </span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 5 5 1 1 5" />
            </svg>
          </button>
        </h2>
        <div id="accordion-flush-body-6" class="hidden" aria-labelledby="accordion-flush-heading-2">
          <div class="py-5 border-b border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">Yes, renters must be at least 21 years old to book a
              self-drive car for rent with Sharedrive. A valid driving license is also required.
            </p>
          </div>
        </div>
        <h2 id="accordion-flush-heading-7">
          <button type="button"
            class="flex items-center justify-between w-full py-5 font-medium text-left rtl:text-right text-gray-800 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
            data-accordion-target="#accordion-flush-body-7" aria-expanded="false"
            aria-controls="accordion-flush-body-7">
            <span>Are there any hidden charges for car rentals?
            </span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 5 5 1 1 5" />
            </svg>
          </button>
        </h2>
        <div id="accordion-flush-body-7" class="hidden" aria-labelledby="accordion-flush-heading-2">
          <div class="py-5 border-b border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">No. We maintain complete transparency with our pricing.
              The rental cost includes all applicable fees, and there are no hidden charges.
            </p>
          </div>
        </div>
        <h2 id="accordion-flush-heading-8">
          <button type="button"
            class="flex items-center justify-between w-full py-5 font-medium text-left rtl:text-right text-gray-800 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
            data-accordion-target="#accordion-flush-body-8" aria-expanded="false"
            aria-controls="accordion-flush-body-8">
            <span>Can I rent a car in Mumbai without a credit card?
            </span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 5 5 1 1 5" />
            </svg>
          </button>
        </h2>
        <div id="accordion-flush-body-8" class="hidden" aria-labelledby="accordion-flush-heading-2">
          <div class="py-5 border-b border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Yes, we offer flexible payment options, including debit cards and UPI, to make the booking process
              easier for everyone.
            </p>
          </div>
        </div>
        <h2 id="accordion-flush-heading-9">
          <button type="button"
            class="flex items-center justify-between w-full py-5 font-medium text-left rtl:text-right text-gray-800 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
            data-accordion-target="#accordion-flush-body-9" aria-expanded="false"
            aria-controls="accordion-flush-body-9">
            <span>What documents are required for renting a car?
            </span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 5 5 1 1 5" />
            </svg>
          </button>
        </h2>
        <div id="accordion-flush-body-9" class="hidden" aria-labelledby="accordion-flush-heading-2">
          <div class="py-5 border-b border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">For self-drive car rentals, you’ll need a valid driving
              license, a government-issued ID, and proof of address. For rentals with a driver, only a valid ID is
              required.
            </p>
          </div>
        </div>
        <h2 id="accordion-flush-heading-10">
          <button type="button"
            class="flex items-center justify-between w-full py-5 font-medium text-left rtl:text-right text-gray-800 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
            data-accordion-target="#accordion-flush-body-10" aria-expanded="false"
            aria-controls="accordion-flush-body-10">
            <span>How are self-drive cars maintained for safety?
            </span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 5 5 1 1 5" />
            </svg>
          </button>
        </h2>
        <div id="accordion-flush-body-10" class="hidden" aria-labelledby="accordion-flush-heading-2">
          <div class="py-5 border-b border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">All our vehicles undergo regular maintenance and thorough
              inspections to ensure they are safe and reliable.
            </p>
          </div>
        </div>
        <h2 id="accordion-flush-heading-11">
          <button type="button"
            class="flex items-center justify-between w-full py-5 font-medium text-left rtl:text-right text-gray-800 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
            data-accordion-target="#accordion-flush-body-11" aria-expanded="false"
            aria-controls="accordion-flush-body-11">
            <span> What should I do in case of an accident while renting a car?
            </span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 5 5 1 1 5" />
            </svg>
          </button>
        </h2>
        <div id="accordion-flush-body-11" class="hidden" aria-labelledby="accordion-flush-heading-2">
          <div class="py-5 border-b border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">In the event of an accident, please ensure your safety
              first, contact the police, and then inform us immediately for further instructions. Roadside assistance
              will be available as well. </p>
          </div>
        </div>
        <h2 id="accordion-flush-heading-12">
          <button type="button"
            class="flex items-center justify-between w-full py-5 font-medium text-left rtl:text-right text-gray-800 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
            data-accordion-target="#accordion-flush-body-12" aria-expanded="false"
            aria-controls="accordion-flush-body-12">
            <span>What should I do if I have an issue with my rental car during my trip?
            </span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 5 5 1 1 5" />
            </svg>
          </button>
        </h2>
        <div id="accordion-flush-body-12" class="hidden" aria-labelledby="accordion-flush-heading-2">
          <div class="py-5 border-b border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">If you encounter any issues during your trip, please
              contact our 24/7 support line immediately. We will assist you with troubleshooting or arranging
              necessary repairs.
            </p>
          </div>
        </div>
        <h2 id="accordion-flush-heading-14">
          <button type="button"
            class="flex items-center justify-between w-full py-5 font-medium text-left rtl:text-right text-gray-800 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
            data-accordion-target="#accordion-flush-body-14" aria-expanded="false"
            aria-controls="accordion-flush-body-14">
            <span>Can I extend my car rental period?
            </span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 5 5 1 1 5" />
            </svg>
          </button>
        </h2>
        <div id="accordion-flush-body-14" class="hidden" aria-labelledby="accordion-flush-heading-2">
          <div class="py-5 border-b border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">Yes, extensions are possible depending on availability.
              Please contact our support team in advance to extend your booking.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <footer class="bg-gray-900 dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl">
      <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
        <div>
          <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">About Us</h2>
          <p class="text-white">Sharedrive – Where every journey begins with trust, comfort, and endless
            possibilities.</p>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">Quick Links</h2>
          <ul class="text-white dark:text-white font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Home</a>
            </li>
            <li class="mb-4">
              <a href="/about" class="hover:underline">About</a>
            </li>
            <li class="mb-4">
              <a href="/car" class="hover:underline">Cars</a>
            </li>
            <li class="mb-4">
              <a href="/contact" class="hover:underline">Contact Us</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">Contact</h2>
          <ul class="text-white dark:text-white font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Subhash Nagar, Chembur, Mumbai- 400071</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">sharedrivee1@gmail.com</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">9004988983</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">Legal</h2>
          <ul class="text-white dark:text-white font-medium">
            <li class="mb-4">
              <a href="/terms-and-conditions" class="hover:underline">Terms & Conditions</a>
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="px-4 py-6 bg-gray dark:bg-white md:flex md:items-center md:justify-between">
        <span class="text-sm text-white dark:text-white sm:text-center">© 2024 <a
            href="https://developeraadesh.wordpress.com/">DEVELOPERAADESH™</a>. All Rights Reserved.
        </span>
        <div class="flex mt-4 sm:justify-center md:mt-0 space-x-5 rtl:space-x-reverse">
          <a href="https://www.instagram.com/sharedrive_/profilecard/?igsh=MW9hcnYwczFsOGN2cw%3D%3D"
            class="text-white hover:text-white dark:hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram"
              viewBox="0 0 16 16">
              <path
                d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334" />
            </svg>
            <span class="sr-only">Instagram</span>
          </a>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>

</html>