<!DOCTYPE html>
<html lang="en">

<head>
	<title>ShareDrive <%= car.name %></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/x-icon" href="/images/favicon.png">
	<meta property="og:image" content="https://assets.architecturaldigest.in/photos/60004a09d68a278e29c86a11/16:9/w_2560%2Cc_limit/feature6-1366x768.jpg">
	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="/css/animate.css">

	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<link rel="stylesheet" href="/css/aos.css">

	<link rel="stylesheet" href="/css/ionicons.min.css">

	<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="/css/jquery.timepicker.css">


	<link rel="stylesheet" href="/css/flaticon.css">
	<link rel="stylesheet" href="/css/icomoon.css">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="/">
				<img src="/images/logo.png" alt="CarBook Logo" style="max-height: 40px;">
				<strong style="text-transform: uppercase; font-weight: bold; font-size: 23px;"><span style="color: #000;">Share</span><span style="color: #1871e3;">Drive</span></strong>

			  </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
			aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> Menu
		  </button>
	  
		  <div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
			  <li class="nav-item"><a href="/about#focus" class="nav-link">About</a></li>
			  <li class="nav-item"><a href="/services#focus" class="nav-link">Services</a></li>
			  <li class="nav-item"><a href="/pricing#focus" class="nav-link">Pricing</a></li>
			  <li class="nav-item active"><a href="/car#cars" class="nav-link">Cars</a></li>
			  <li class="nav-item"><a href="/contact#focus" class="nav-link">Contact</a></li>
			  <% if(profile == "" || profile == undefined) { %>
				<li class="nav-item"><a href="/login#login" class="nav-link">Login</a></li>
			  <% } else { %>
				<li class="nav-item"><a href="/profile/<%= profile %>" class="nav-link">Profile</a></li>
			  <% } %>
			</ul>
		  </div>
		</div>
	  </nav>
	<!-- END nav -->

	<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/bg_3.jpg');"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
				<div class="col-md-9 ftco-animate pb-5">
					<p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i
									class="ion-ios-arrow-forward"></i></a></span> <span>Car details <i
								class="ion-ios-arrow-forward"></i></span></p>
					<h1 class="mb-3 bread">Car Details</h1>
				</div>
			</div>
		</div>
	</section>

	<div id="car" style="padding: 10px;"></div>
	<section class="ftco-section ftco-car-details">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="car-details">
						<div class="img rounded"
							style="background-image: url('data:image/png;base64,<%= car.image %>'); background-size: contain; background-position: center; height: 300px;">
						</div>
						<div class="text text-center mt-3">
							<h2>
								<%= car.name %>
							</h2>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services">
						<div class="media-body py-md-4">
							<div class="d-flex mb-3 align-items-center">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="flaticon-dashboard"></span></div>
								<div class="text">
									<h3 class="heading mb-0 pl-3">
										Mileage
										<span>
											<%= car.mileage %>
										</span>
									</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services">
						<div class="media-body py-md-4">
							<div class="d-flex mb-3 align-items-center">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="flaticon-pistons"></span></div>
								<div class="text">
									<h3 class="heading mb-0 pl-3">
										Transmission
										<span>
											<%= car.transmission %>
										</span>
									</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services">
						<div class="media-body py-md-4">
							<div class="d-flex mb-3 align-items-center">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="flaticon-car-seat"></span></div>
								<div class="text">
									<h3 class="heading mb-0 pl-3">
										Seats
										<span>
											<%= car.seats %> Adults
										</span>
									</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services">
						<div class="media-body py-md-4">
							<div class="d-flex mb-3 align-items-center">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="flaticon-backpack"></span></div>
								<div class="text">
									<h3 class="heading mb-0 pl-3">
										Luggage
										<span>4 Bags</span>
									</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services">
						<div class="media-body py-md-4">
							<div class="d-flex mb-3 align-items-center">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="flaticon-diesel"></span></div>
								<div class="text">
									<h3 class="heading mb-0 pl-3">
										Fuel
										<span>
											<%= car.fuel %>
										</span>
									</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: -50px;">
				<div class="col-md-12 pills">
					<div class="bd-example bd-example-tabs">
						<div class="d-flex justify-content-center">
							<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="pills-description-tab" data-toggle="pill"
										href="#pills-description" role="tab" aria-controls="pills-description"
										aria-expanded="true">Features</a>
								</li>

							</ul>
						</div>
						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-description" role="tabpanel"
								aria-labelledby="pills-description-tab">
								<div class="row">
									<!-- First Column -->
									<div class="col-md-4">
										<ul class="features">
											<li class="<%= car.features.airConditioning ? 'check' : 'remove' %>">
												<span
													class="<%= car.features.airConditioning ? 'ion-ios-checkmark' : 'ion-ios-close' %>"></span>
												Air Conditioning
											</li>
											<li class="<%= car.features.frontSensors ? 'check' : 'remove' %>">
												<span
													class="<%= car.features.frontSensors ? 'ion-ios-checkmark' : 'ion-ios-close' %>"></span>
												Front Back Sensors 
											</li>
											<li class="<%= car.features.backCamera ? 'check' : 'remove' %>">
												<span
													class="<%= car.features.backCamera ? 'ion-ios-checkmark' : 'ion-ios-close' %>"></span>
												Back Camera
											</li>
											<li class="<%= car.features.luggage ? 'check' : 'remove' %>">
												<span
													class="<%= car.features.luggage ? 'ion-ios-checkmark' : 'ion-ios-close' %>"></span>
												Luggage
											</li>
											<li class="<%= car.features.music ? 'check' : 'remove' %>">
												<span
													class="<%= car.features.music ? 'ion-ios-checkmark' : 'ion-ios-close' %>"></span>
												Music
											</li>
										</ul>
									</div>
									<!-- Second Column -->
									<div class="col-md-4">
										<ul class="features">
											<li class="<%= car.features.seatBelt ? 'check' : 'remove' %>">
												<span
													class="<%= car.features.seatBelt ? 'ion-ios-checkmark' : 'ion-ios-close' %>"></span>
												Seat Belt
											</li>
											<!-- <li class="<%= car.features.sleepingBed ? 'check' : 'remove' %>">
												<span
													class="<%= car.features.sleepingBed ? 'ion-ios-checkmark' : 'ion-ios-close' %>"></span>
												Sleeping Bed
											</li> -->
											<!-- <li class="<%= car.features.water ? 'check' : 'remove' %>">
												<span
													class="<%= car.features.water ? 'ion-ios-checkmark' : 'ion-ios-close' %>"></span>
												Water
											</li> -->
											<li class="<%= car.features.bluetooth ? 'check' : 'remove' %>">
												<span
													class="<%= car.features.bluetooth ? 'ion-ios-checkmark' : 'ion-ios-close' %>"></span>
												Bluetooth
											</li>
											<li class="<%= car.features.onboardComputer ? 'check' : 'remove' %>">
												<span
													class="<%= car.features.onboardComputer ? 'ion-ios-checkmark' : 'ion-ios-close' %>"></span>
												Onboard Computer
											</li>
										</ul>
									</div>
									<!-- Third Column -->
									<div class="col-md-4">
										<ul class="features">
											<li class="<%= car.features.audioInput ? 'check' : 'remove' %>">
												<span
													class="<%= car.features.audioInput ? 'ion-ios-checkmark' : 'ion-ios-close' %>"></span>
												Audio Input
											</li>
											<li class="<%= car.features.longTermTrips ? 'check' : 'remove' %>">
												<span
													class="<%= car.features.longTermTrips ? 'ion-ios-checkmark' : 'ion-ios-close' %>"></span>
												Long Term Trips
											</li>
											<li class="<%= car.features.carKit ? 'check' : 'remove' %>">
												<span
													class="<%= car.features.carKit ? 'ion-ios-checkmark' : 'ion-ios-close' %>"></span>
												Car Kit
											</li>
											<li class="<%= car.features.remoteCentralLocking ? 'check' : 'remove' %>">
												<span
													class="<%= car.features.remoteCentralLocking ? 'ion-ios-checkmark' : 'ion-ios-close' %>"></span>
												Remote Central Locking
											</li>
											<li class="<%= car.features.climateControl ? 'check' : 'remove' %>">
												<span
													class="<%= car.features.climateControl ? 'ion-ios-checkmark' : 'ion-ios-close' %>"></span>
												Climate Control
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="ftco-footer ftco-bg-dark ftco-section">
		<div class="container">
		  <div class="row mb-5">
			<div class="col-md">
			  <div class="ftco-footer-widget mb-4">
				<h2 class="ftco-heading-2"><a href="#" class="logo"><span>Share</span><span style="color: #1089ff;">Drive</span></a></h2>
				<p>Where every journey begins with trust, comfort, and endless possibilities</p>
				<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
				  <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
				  <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
				  <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
				</ul>
			  </div>
			</div>
			<div class="col-md">
			  <div class="ftco-footer-widget mb-4 ml-md-5">
				<h2 class="ftco-heading-2">Information</h2>
				<ul class="list-unstyled">
				  <li><a href="/about#focus" class="py-2 d-block">About</a></li>
				  <li><a href="/services#focus" class="py-2 d-block">Services</a></li>
				  <li><a href="#" class="py-2 d-block">Term and Conditions</a></li>
				  <li><a href="#" class="py-2 d-block">Best Price Guarantee</a></li>
				  <li><a href="#" class="py-2 d-block">Privacy &amp; Cookies Policy</a></li>
				</ul>
			  </div>
			</div>
			<div class="col-md">
			  <div class="ftco-footer-widget mb-4">
				<h2 class="ftco-heading-2">Customer Support</h2>
				<ul class="list-unstyled">
				  <li><a href="#" class="py-2 d-block">FAQ</a></li>
				  <li><a href="#" class="py-2 d-block">Payment Option</a></li>
				  <li><a href="#" class="py-2 d-block">Booking Tips</a></li>
				  <li><a href="#" class="py-2 d-block">How it works</a></li>
				  <li><a href="/contact#focus" class="py-2 d-block">Contact Us</a></li>
				</ul>
			  </div>
			</div>
			<div class="col-md">
			  <div class="ftco-footer-widget mb-4">
				<h2 class="ftco-heading-2">Have a Questions?</h2>
				<div class="block-23 mb-3">
				  <ul>
					<li><span class="icon icon-map-marker"></span><span class="text">SUBHASH NAGAR CHEMBUR MUMBAI 400071</span></li>
					<li><a href="#"><span class="icon icon-phone"></span><span class="text">9004988983</span></a></li>
					<li><a href="#"><span class="icon icon-envelope"></span><span
						  class="text">sharedrivee1@gmail.com</span></a></li>
				  </ul>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="row">
			<div class="col-md-12 text-center">
	
			  <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy;
				<script>document.write(new Date().getFullYear());</script> All rights reserved | Developed with
				<i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
				  target="_blank">Atharv Yadav atharvyadav96k@gmail.com</a>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			  </p>
			</div>
		  </div>
		</div>
	  </footer>



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" />
		</svg></div>


	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.easing.1.3.js"></script>
	<script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/aos.js"></script>
	<script src="/js/jquery.animateNumber.min.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src="/js/jquery.timepicker.min.js"></script>
	<script src="/js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="/js/google-map.js"></script>
	<script src="/js/main.js"></script>

</body>

</html>